


    <div [ngStyle]="{backgroundImage:'url(./assets/b1.jpg)'}" class="bgimg img-fluid" >
        
        <div class="header">  

   <a class="logo"> <img [src]=logo></a>

<div class="spacer"></div>
<div class="navbar">
   <a ><button class="homebutton" mat-raised-button >Home
     <mat-icon class="homeimg" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button></a> 
   <a> <button class="button" mat-button [matMenuTriggerFor]="menu">MENU</button></a>
   <mat-menu #menu="matMenu">
  <a class="menuItem">  <button mat-menu-item>Breakfast</button></a>
    <a class="menuItem"><button mat-menu-item>Lunch</button></a>
    <a class="menuItem"><button mat-menu-item>Dinner</button></a>
   </mat-menu>
  <a><button class="button" mat-button [matMenuTriggerFor]="belowMenu">RESERVATION</button></a> 
   <mat-menu #belowMenu="matMenu" yPosition="below">
   
  <a class="menuItem">  <button mat-menu-item>Reserve Table</button></a>
    <a class="menuItem"><button mat-menu-item>Instant Food</button></a>
   </mat-menu>
   <a ><button class="button" mat-button >LOGIN</button></a> 
   
   <a ><button class="button" mat-button ><span class="cartspace">CART</span><img class="cartimg" [src]=cart> </button></a> 
   <form class="search" action="/action_page.php" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="search2">
    <button mat-button ><a > <img class="searchimg" [src]=search></a></button>
  </form>
  
    
  
</div>
        </div>
        <!-- <div class="headerbtm"></div> -->
        <div class="btmheader">
          
        </div>
        <div class="banner">
          <h1 class="bannerh1">Welcome To PickleMe <br><br> Restaurant</h1>
          <div class="order">
            <a><button class="orderbtn" mat-raised-button >ORDER NOW</button></a>
          </div>
        </div>

        

        
</div>
