   
        
        <div class="header">  

   <a class="logo"> <img [src]=logo></a>

<div class="spacer"></div>
<div class="navbar">
   <a routerLink="/"><button class="button" mat-button >Home
     <mat-icon class="homeimg" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button></a> 
   <a routerLink="menu"> <button class="button" mat-button ="menu">MENU</button></a>
   <!-- <mat-menu #menu="matMenu">
  <a class="menuItem">  <button mat-menu-item>Breakfast</button></a>
    <a class="menuItem"><button mat-menu-item>Lunch</button></a>
    <a class="menuItem"><button mat-menu-item>Dinner</button></a>
   </mat-menu> -->
  <a routerLink="reserve"><button class="button" mat-button>RESERVATION</button></a> 

   <a ><button class="button" mat-button [matMenuTriggerFor]="belowMenu">LOGIN</button></a> 
   <mat-menu #belowMenu="matMenu" yPosition="below">
   
  <a routerLink="login"  class="menuItem">  <button mat-menu-item>Login</button></a>
    <a routerLink="login/register" class="menuItem"><button mat-menu-item>Register</button></a>
  
   </mat-menu>
   
  
   
   <a ><button class="button" mat-button ><span class="cartspace">CART</span><mat-icon>shopping_cart</mat-icon></button></a> 
   <input type="text" placeholder="Search..."  class="searchinput">
   <button class="homebutton"  mat-button><mat-icon>search</mat-icon></button>
  
    
  
</div>
        </div>
        
        <!-- <div class="headerbtm"></div> -->
        <!-- <div class="btmheader">
          
        </div> -->
        <!-- <div class="banner">
          <h1 class="bannerh1">Welcome To PickleMe <br><br> Restaurant</h1>
          <div class="order">
            <a><button class="orderbtn" mat-raised-button >ORDER NOW</button></a>
          </div>
        </div> -->

        

        


