

        
        <section class="container-fluid reservepage">
            <section class="row justify-content-center">
                  <section class="col-12 col-sm-6 col-md-3">
                        <form class="form-container" class="bg">
                        <h2 class="heading">Resevation Form</h2>
                        <div class="form-group">
                          <label for="exampleInputFristName">First Name</label><br>
                          <input type="firstName" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" placeholder="First Name"><br>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputLastName">Last Name</label><br>
                            <input type="lastName" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" placeholder="Last Name"><br>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail">Email</label><br>
                            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email"><br>
                          </div>
                        <div class="form-group">
                          <label for="exampleInputPhone">Phone</label><br>
                          <input type="Phone" class="form-control" id="exampleInputPhone" placeholder="Phone"><br>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputArrivalDate">Arrival Date</label><br>
                            <input type="arrivalDate" class="form-control" id="exampleInputArrivalDate" placeholder="Arrival Date"><br>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputArrivalDate">Instant Food</label><br>
                            <input type="radio" id="yes" name="option" value="yes">
                            <label for="yes">Yes</label> 
                            <input class="radioNo" type="radio" id="no" name="option" value="no">
                            <label for="no">No</label>
                        </div>

                        <div class="form-group">
                        <label for="select2"><br>
                            
                            Number of adults:</label>
                          <select class="radioNo" name="select2" id="select2">
                            <option>-Select-</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="0">6</option>
                            <option value="1">7</option>
                            <option value="2">8</option>
                            <option value="3">9</option>
                            <option value="4">10</option>
                            <option value="5">11></option>
                          </select>
                        </div>

                        <div class="form-group">
                            <label for="select1"><br>
                                
                                Number of children:</label>
                              <select class="radioNo" name="select1" id="select1">
                                <option>-Select-</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="0">6</option>
                                <option value="1">7</option>
                                <option value="2">8</option>
                                <option value="3">9</option>
                                <option value="4">10</option>
                                <option value="5">11></option>
                              </select>
                            </div><br>

                        <button mat-raised-button color="primary">Reserve</button>
                        
                      </form>
                  </section>

            </section>
      </section>
    
