@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
/* Header Desgine*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.reservepage{
    background-color: darkseagreen;
    padding: 100px;
    justify-content: center;
}
.heading{
    color: darkorange;
    margin-bottom: 20px;
}
.bg{
    background-color: white;
    width: 600px;
    padding: 20px 100px;
}
.container-fluid{
    background-color: darkseagreen;
    justify-content: center;
}
.radioNo{
    margin-left: 20px;
}