<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8'>
     <title>Pickle Me!</title>
    
</head>
<div class=mainbanner> 
    <div class="banner1">
        <div class="bannerwrap">
            <div class="contianer">
                <a href="menu.html">  <img [src]=breakfast> </a>
                <a href="menu.html">  <img [src]=lunch> </a>
               <a href="menu.html"> <img [src]=dinner> </a>

         
    
                
            </div>

         </div>
        
    </div>
    

     

      

    
    
    
</div>


</html>
